/* Reset Rules */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Common Rules */

/* TAGS  */

body {
    font-family:' Open Sans', sans-serif;
    background-color: white;
}

section {

    width: 100%;

}

/* CLASSES  */

.flex {
    display: flex;
}

.big {

    max-width: 1200px;
    
}

.small {

    max-width: 1000px;
    
}

.container {

    margin-left: auto;
    margin-right: auto;

}



/* END General Rules */

/* Header  */

header {
    position: fixed;
    z-index: 2;

    width: 100%;

    color: black;
    font-size: 10px;
    background-color: #FFFFFF;

    /* TEST */

    border:  red solid 2px;
}

header .row {

    justify-content: space-between;
    align-items: center;

    padding-top: 20px;
    padding-bottom: 20px;

}

header .row .logo-header, 
header .row .buttons-header {
    
    width: 170px;

    /* test  */
    border: black 1px dashed;
}

header .row nav {
    flex-grow: 1;

    justify-content: space-between;
    align-items: center;

    /* test  */
    border: black 1px dashed;
}

header .row nav ul {
    gap: 40px;

    list-style: none;
}

header .row .buttons-header {

  justify-content: center;
  align-items: center;
  gap: 10px;

}

/* END Header  */

/* Main with 8 sections  */

/* 1 section  */

.first-section {

    padding-left: 16px;
    padding-right: 16px;

    /* 80 px di header più 80 px di padding */
    padding-top: calc(80px + 80px); 
    
}

.first-section .container {

    /* test */
    border: black 1px dashed;
    background-color: grey;
    height: 650px;
}
/* END 1 section  */

/* 2 section  */

.second-section {


    /* TEST */
    border:  red solid 2px;
    
}

.second-section .container {

    margin-top: 130px;


    /* test  */
    border: green 2px solid;
    
}

/* parte con tre box */

.second-section .container .table-columns {
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;

}


.second-section .container .table-columns .vertical {
    
    width: 330px;

    /* test */
    height: 950px;
    background-color: azure;
    border: black 1px solid;
}

/* parte con 1 box oriz. */

.second-section .container .orizontal {
    
    margin-top: 50px;
    margin-bottom: 75px;


    

    width: 100%;

    /* test  */
    border: green 2px solid;

    /* test */
    height: 210px;
    background-color: azure;
    border: black 1px solid;
}


/* END 2 section  */

/* 3 section  */

.third-section {

    /* TEST */
    border:  red solid 2px;
    
}

.third-section .container {

    margin-top: 75px;
    margin-bottom: 75px;

    /* test  */
    border: green 2px solid;
    height: 500px;
    margin-top: 75px;
    margin-bottom: 75px;
}

/* END 3 section  */

/* 4 section  */

.fourth-section {

    /* TEST */
    border:  red solid 2px;
    
}

.fourth-section .container {

    /* test  */
    border: green 2px solid;

    margin-top: 75px;
    margin-bottom: 100px;
}

.fourth-section .container h2 {

    /* test  */

    margin-bottom: 30px;
}

.fourth-section .container .row-features {

    
    align-items: flex-start;
    flex-wrap: wrap;

}

.features-box {
    width: calc(100% / 3);

    /* test */
    height: 500px;
    border: green 1px dashed;
    
}

/* END 4 section  */

/* 5 section  */

.fifth-section {

    margin-top: 100px;
    margin-bottom: 100px;


}

.fifth-section .container {

    /* TEst */
    height: 200px;
    border: solid 2px red;
}

/* END 5 section  */

/* 6 section - "Modern box"  */

.sixth-section {

    align-items: flex-start;

    /* test */
    background-color: yellow;
}

.sixth-section .square {
    width: calc(100% / 3 /2);
}


/* END 6 section  */

/* END Main with 8 sections  */

