/* Reset Rules */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Common Rules */

/* TAGS  */

body {
    font-family:' Open Sans', sans-serif;
    background-color: white;
}

section {

    width: 100%;

}

/* CLASSES  */

.flex {
    display: flex;
}

section.white {
    background-color: white;
}


/* END General Rules */

/* Header  */

header {
    position: fixed;
    z-index: 2;

    width: 100%;

    color: black;
    font-size: 10px;
    background-color: #FFFFFF;

    /* TEST */

    border:  red solid 2px;
}

header .row {

    justify-content: space-between;
    align-items: center;

    padding-top: 20px;
    padding-bottom: 20px;

}

header .row .logo-header, 
header .row .buttons-header {
    
    width: 170px;

    /* test  */
    border: black 1px dashed;
}

header .row nav {
    flex-grow: 1;

    justify-content: space-between;
    align-items: center;

    /* test  */
    border: black 1px dashed;
}

header .row nav ul {
    gap: 40px;

    list-style: none;
}

header .row .buttons-header {

  justify-content: center;
  align-items: center;
  gap: 10px;

}

/* END Header  */

/* Main with 8 sections  */

/* 1 section  */

.first-section {

    padding-left: 16px;
    padding-right: 16px;

    /* 80 px di header più 80 px di padding */
    padding-top: calc(80px + 80px); 
    
}

.first-section .container {

    margin-left: auto;
    margin-right: auto;

    max-width: 1200px;

    /* test */
    border: black 1px dashed;
    background-color: grey;
    height: 650px;
}
/* END 1 section  */

/* 2 section  */

.second-section {

    padding-left: 16px;
    padding-right: 16px;

    /* TEST */
    border:  red solid 2px;
    
}

.second-section .container {

    margin-left: auto;
    margin-right: auto;
    margin-top: 130px;

    max-width: 1000px;

    /* test  */
    border: green 2px solid;
    
}

/* parte con tre box */

.second-section .container .table-columns {
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;

}


.second-section .container .table-columns .vertical {
    
    width: 330px;

    /* test */
    height: 950px;
    background-color: azure;
    border: black 1px solid;
}

/* parte con 1 box oriz. */

.second-section .container .orizontal {
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 75px;

    padding-left: 16px;
    padding-right: 16px;
    

    width: 100%;

    /* test  */
    border: green 2px solid;

    /* test */
    height: 210px;
    background-color: azure;
    border: black 1px solid;
}


/* END 2 section  */

/* END Main with 9 sections  */