/* Reset Rules */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Common Rules */

body {
    font-family:' Open Sans', sans-serif;
}

.flex {
    display: flex;
}


/* END General Rules */

/* Header  */

header {
    position: fixed;
    z-index: 2;

    width: 100%;

    color: black;
    font-size: 10px;
    background-color: #FFFFFF;

    /* TEST */

    border:  red solid 2px;
}

header .row {

    justify-content: space-between;
    align-items: center;

    padding-top: 20px;
    padding-bottom: 20px;

}

header .row .logo-header, 
header .row .buttons-header {
    
    width: 170px;

    /* test  */
    border: black 1px dashed;
}

header .row nav {
    flex-grow: 1;

    justify-content: space-between;
    align-items: center;

    /* test  */
    border: black 1px dashed;
}

header .row nav ul {
    gap: 40px;

    list-style: none;
}

header .row .buttons-header {

  justify-content: center;
  align-items: center;
  gap: 10px;

}

/* END Header  */

/* Main with 9 sections  */

/* 1 section  */

.first-section {
    width: 100%;

    background-color: #B4D0E7;

    padding-left: 16px;
    padding-right: 16px;

    /* 80 px di header più 80 px di padding */
    padding-top: calc(80px + 80px); 
    
    /* test */
    border:  green solid 2px;
}

.first-section .container {

    margin-left: auto;
    margin-right: auto;

    max-width: 1100px;

    /* test */
    border: black 1px dashed;
    background-color: grey;
    height: 650px;
}
/* END 1 section  */

/* END Main with 9 sections  */